package ${package}.controller;

import java.util.List;
import java.util.Map;

import com.personal.common.util.LogUtil;
import com.personal.common.util.result.ResultData;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import com.personal.common.util.constants.GlobalConstants;

import com.personal.common.base.BaseController;
import ${package}.entity.${className}Entity;
import ${package}.service.${className}Service;
import ${utils}.PageUtil;
import ${utils}.Query;

import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;


/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@RequestMapping(GlobalConstants.PREFIX + "${pathName}")
public class ${className}Controller extends BaseController{

    private static LogUtil logger = LogUtil.getLogger(${className}Controller.class);

	@Autowired
	private ${className}Service ${classname}Service;
	
	/**
	 * 列表
	 */
    @ResponseBody
	@RequestMapping(value = "/list.do",method = RequestMethod.POST)
	public PageUtil list(@RequestParam Map<String, Object> params){
        ResultData result=new ResultData();
		//查询列表数据
        Query query = new Query(params);

		List<${className}Entity> ${classname}List = ${classname}Service.queryList(query);
		int total = ${classname}Service.queryTotal(query);

        PageUtil pageUtil = new PageUtil(0, "查询成功", total, ${classname}List);
		return pageUtil;
	}
	
	
	/**
	 * 信息
	 */
    @ResponseBody
	@RequestMapping(value = "/info.do")
	public ResultData info(HttpServletRequest request, HttpServletResponse response){
        Map<String,Object> params = this.getAllParams(request);
        logger.info("  ${className}Controller info params:" + params.toString());

	    ResultData result = new ResultData();

		${className}Entity ${classname} = ${classname}Service.get(${pk.attrType}.valueOf(params.get("id").toString()));

		result.setData(${classname});
		return result;
	}
	
	/**
	 * 保存
	 */
    @ResponseBody
	@RequestMapping(value = "/save.do",method = RequestMethod.POST)
	public ResultData save(HttpServletRequest request,${className}Entity ${classname}){
        ResultData result = new ResultData();
        String userId = this.parseToken(request).get("userId").toString();
        tSysMenu.setCreateUser(Long.valueOf(userId));
		${classname}Service.save(${classname});

		result.setMessage("保存成功！");

		return result;
	}
	
	/**
	 * 修改
	 */
    @ResponseBody
	@RequestMapping(value = "/update.do",method = RequestMethod.POST)
	public ResultData update(HttpServletRequest request,${className}Entity ${classname}){

	    ResultData result = new ResultData();
        String userId = this.parseToken(request).get("userId").toString();
        tSysMenu.setUpdateUser(Long.valueOf(userId));
		${classname}Service.update(${classname});

        result.setMessage("更新成功！");

		return result;
	}
	
	/**
	 * 删除
	 */
	@RequestMapping(value = "/delete.do",method = RequestMethod.POST)
    @ResponseBody
	public ResultData delete(HttpServletRequest request){

        Map<String,Object> params = this.getAllParams(request);
        logger.info("  ${className}Controller deleteById params:" + params.toString());

        ResultData result = new ResultData();
		${pk.attrType} id = ${pk.attrType}.valueOf(params.get("id").toString());
		${classname}Service.deleteById(id);

        result.setMessage("删除成功！");
		return result;
	}
	
}
