<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.mapper.${className}Mapper">


    <resultMap type="${package}.entity.${className}Entity" id="${classname}Map">
#foreach($column in $columns)
        <result property="${column.attrname}" column="${column.columnName}"/>
#end
    </resultMap>
#*基础列*#
    <sql id="Base_Column_List" >
#foreach($column in $columns)
		${column.columnName}#if($velocityCount != $columns.size()), #end

#end
    </sql>

	<select id="get" resultType="${package}.entity.${className}Entity" resultMap="${classname}Map">
		select
		<include refid="Base_Column_List" />
		from ${tableName} t
		where t.status = 1
		and ${pk.columnName} = #{value}
	</select>

	<select id="queryList" resultType="${package}.entity.${className}Entity" resultMap="${classname}Map">
		select
		<include refid="Base_Column_List" />
		from ${tableName}t
        where t.status = 1
        order by t.create_time desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from ${tableName} t where t.status = 1
	</select>
	 
	<insert id="save" parameterType="${package}.entity.${className}Entity"#if($pk.extra == 'auto_increment') useGeneratedKeys="true" keyProperty="$pk.attrname"#end>
		insert into ${tableName}
		(
#foreach($column in $columns)
#if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
			`$column.columnName`#if($velocityCount != $columns.size()), #end

#end			
#end
		)
		values
		(
#foreach($column in $columns)
#if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
			#{$column.attrname}#if($velocityCount != $columns.size()), #end

#end			
#end
		)
	</insert>
	 
	<update id="update" parameterType="${package}.entity.${className}Entity">
		update ${tableName} 
		<set>
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
			<if test="$column.attrname != null">`$column.columnName` = #{$column.attrname}#if($velocityCount != $columns.size()), #end</if>
#end
#end
		</set>
		where ${pk.columnName} = #{${pk.attrname}}
	</update>
	
	<delete id="deleteById">
		update ${tableName} set status = 0 where ${pk.columnName} = #{id}
	</delete>

</mapper>