package ${package}.mapper;

import ${package}.entity.${className}Entity;
import ${baseDao}.BaseMapper;
import org.springframework.stereotype.Repository;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Repository
public interface ${className}Mapper extends BaseMapper<${className}Entity,${pk.attrType}> {
	
}
