<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personal.system.user.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.personal.system.user.entity.UserEntity">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="nickname" jdbcType="VARCHAR" property="nickName" />
        <result column="realname" jdbcType="VARCHAR" property="realName" />
        <result column="sex" jdbcType="TINYINT" property="sex" />
        <result column="birthday" jdbcType="TIMESTAMP" property="brithDay" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" />
        <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="status" jdbcType="TINYINT" property="status" />
    </resultMap>
    <sql id="Base_Column_List">
        id,
        nickname,
        realname,
        sex,
        birthday,
        mobile,
        email,
        password,
        user_name,
        status,
        salt,
        create_time,
        update_time,
        create_user,
        update_user
    </sql>

    <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_p_user
        where id = #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        update t_p_user set status = 0
        where id = #{id}
    </delete>

    <!-- 根据实体增加 -->
    <insert id="save" parameterType="com.personal.system.user.entity.UserEntity">
        insert into t_p_user (
            id,
            nickname,
            realname,
            sex,
            birthday,
            mobile,
            email,
            password,
            user_name,
            status,
            create_time,
            update_time,
            create_user,
            update_user
        )
        values (#{id}, #{nickName}, #{realName},#{sex},#{brithDay},#{mobile},#{email}, #{password},
        #{userName},1,now(), #{updateTime},#{createUser}, #{updateUser}
        )
    </insert>
    <!-- 根据map增加  -->
    <update id="update" parameterType="com.personal.system.user.entity.UserEntity">
        update t_p_user
        set username = #{userName},
        password = #{password},
        sex = #{sex},
        email = #{email},
        birthday = #{brithDay},
        mobile = #{mobile},
        real_name = #{realName},
        create_user = #{createUser},
        update_user = #{updateUser},
        status = #{status}
        where id = #{id}
    </update>
    <update id="updateByMap" parameterType="java.util.Map">
        update t_p_user
        <set>
            <if test=" userName != null and userName != '' ">
                username=#{userName},
            </if>
            <if test=" password != null and password != '' ">
                password=#{password},
            </if>
            <if test=" sex != null and sex != '' ">
                sex=#{sex},
            </if>
            <if test=" email != null and email != '' ">
                email=#{email},
            </if>
            <if test=" birthday != null and birthday != '' ">
                birthday=#{brithDay},
            </if>
            <if test=" mobile != null and mobile != '' ">
                mobile=#{mobile},
            </if>
            <if test=" realName != null and realName != '' ">
                real_name=#{realName},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="login" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where username=#{username,jdbcType=VARCHAR}
    </select>

    <select id="queryList" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        from t_p_user
        <where>
            status=1
            <if test="username!=null and username!=''"> and username like "%" #{username} "%"</if>
            <if test="email!=null and email!=''"> and email like "%" #{email} "%"</if>
        </where>
    </select>

    <select id="queryTotal" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from t_p_user
    </select>

    <select id="findByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        from t_p_user
        <where>
            status=1
            <if test="userName != null and userName != '' ">
                and user_name = #{userName}
            </if>
        </where>
    </select>

</mapper>